USE [master]
GO
/****** Object:  Database [BankingDB]    Script Date: 3/6/2026 2:40:44 PM ******/
CREATE DATABASE [BankingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BankingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BankingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankingDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[AccountNumber] [nvarchar](20) NULL,
	[AccountTypeId] [int] NULL,
	[Balance] [decimal](18, 2) NULL,
	[CurrencyCode] [nvarchar](5) NULL,
	[Status] [nvarchar](20) NULL,
	[OpenedAt] [datetime] NULL,
	[ClosedAt] [datetime] NULL,
	[BranchId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountTypes]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountTypes](
	[AccountTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[City] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [nvarchar](16) NULL,
	[AccountId] [int] NULL,
	[Type] [nvarchar](20) NULL,
	[ExpiryDate] [date] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[CurrencyCode] [nvarchar](5) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CurrencyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[RiskLevel] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__Roles__8AFACE1A7A40470D] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[ReferenceNumber] [nvarchar](20) NULL,
	[FromAccountId] [int] NULL,
	[ToAccountId] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[TransactionTypeId] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTypes]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTypes](
	[TransactionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[LastLoginAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[RefreshTokenHash] [nvarchar](300) NULL,
	[RefreshTokenExpiresAt] [datetime] NULL,
	[RefreshTokenRevokedAt] [datetime] NULL,
 CONSTRAINT [PK__Users__1788CC4CBF37029B] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountId], [CustomerId], [AccountNumber], [AccountTypeId], [Balance], [CurrencyCode], [Status], [OpenedAt], [ClosedAt], [BranchId]) VALUES (1, 1, N'ACC00001', 2, CAST(7135.92 AS Decimal(18, 2)), N'EUR', N'Active', CAST(N'2026-02-10T15:38:53.220' AS DateTime), NULL, 2)
INSERT [dbo].[Accounts] ([AccountId], [CustomerId], [AccountNumber], [AccountTypeId], [Balance], [CurrencyCode], [Status], [OpenedAt], [ClosedAt], [BranchId]) VALUES (2, 2, N'ACC00002', 3, CAST(7136.11 AS Decimal(18, 2)), N'SYP', N'Active', CAST(N'2026-02-10T15:38:53.220' AS DateTime), NULL, 3)
INSERT [dbo].[Accounts] ([AccountId], [CustomerId], [AccountNumber], [AccountTypeId], [Balance], [CurrencyCode], [Status], [OpenedAt], [ClosedAt], [BranchId]) VALUES (3, 3, N'ACC00003', 4, CAST(7136.29 AS Decimal(18, 2)), N'USD', N'Active', CAST(N'2026-02-10T15:38:53.220' AS DateTime), NULL, 4)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountTypes] ON 

INSERT [dbo].[AccountTypes] ([AccountTypeId], [Name]) VALUES (1, N'Saving')
INSERT [dbo].[AccountTypes] ([AccountTypeId], [Name]) VALUES (2, N'Current')
INSERT [dbo].[AccountTypes] ([AccountTypeId], [Name]) VALUES (3, N'Fixed Deposit')
SET IDENTITY_INSERT [dbo].[AccountTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([BranchId], [Name], [City], [IsActive]) VALUES (1, N'Branch 1', N'Aleppo', 1)
INSERT [dbo].[Branches] ([BranchId], [Name], [City], [IsActive]) VALUES (2, N'Branch 2', N'Homs', 1)
INSERT [dbo].[Branches] ([BranchId], [Name], [City], [IsActive]) VALUES (3, N'Branch 3', N'Damascus', 1)
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
SET IDENTITY_INSERT [dbo].[Cards] ON 

INSERT [dbo].[Cards] ([CardId], [CardNumber], [AccountId], [Type], [ExpiryDate], [Status]) VALUES (1, N'4000000000000001', 1, N'ATM', CAST(N'2029-02-10' AS Date), N'Active')
INSERT [dbo].[Cards] ([CardId], [CardNumber], [AccountId], [Type], [ExpiryDate], [Status]) VALUES (2, N'4000000000000002', 2, N'Debit', CAST(N'2029-02-10' AS Date), N'Active')
INSERT [dbo].[Cards] ([CardId], [CardNumber], [AccountId], [Type], [ExpiryDate], [Status]) VALUES (3, N'4000000000000003', 3, N'ATM', CAST(N'2029-02-10' AS Date), N'Active')
SET IDENTITY_INSERT [dbo].[Cards] OFF
GO
INSERT [dbo].[Currencies] ([CurrencyCode], [Name]) VALUES (N'EUR', N'Euro')
INSERT [dbo].[Currencies] ([CurrencyCode], [Name]) VALUES (N'GBP', N'British Pound')
INSERT [dbo].[Currencies] ([CurrencyCode], [Name]) VALUES (N'JPY', N'Japanese Yen')
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [FirstName], [LastName], [DateOfBirth], [Email], [Phone], [Address], [RiskLevel], [CreatedAt], [IsActive]) VALUES (1, N'First1', N'Last1', CAST(N'2005-02-10' AS Date), N'customer1@bank.com', N'0911001001', N'Address 1', N'Medium', CAST(N'2026-02-10T15:37:05.037' AS DateTime), 1)
INSERT [dbo].[Customers] ([CustomerId], [FirstName], [LastName], [DateOfBirth], [Email], [Phone], [Address], [RiskLevel], [CreatedAt], [IsActive]) VALUES (2, N'First2', N'Last2', CAST(N'2004-02-10' AS Date), N'customer2@bank.com', N'0911001002', N'Address 2', N'Low', CAST(N'2026-02-10T15:37:05.037' AS DateTime), 1)
INSERT [dbo].[Customers] ([CustomerId], [FirstName], [LastName], [DateOfBirth], [Email], [Phone], [Address], [RiskLevel], [CreatedAt], [IsActive]) VALUES (3, N'First3', N'Last3', CAST(N'2003-02-10' AS Date), N'customer3@bank.com', N'0911001003', N'Address 3', N'High', CAST(N'2026-02-10T15:37:05.037' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
INSERT [dbo].[Roles] ([RoleId], [Name], [Description], [CreatedAt]) VALUES (N'1', N'Admin', N'Full access to system', CAST(N'2026-02-10T15:14:47.273' AS DateTime))
INSERT [dbo].[Roles] ([RoleId], [Name], [Description], [CreatedAt]) VALUES (N'2', N'User', N'Can perform financial operations', CAST(N'2026-02-10T15:14:47.273' AS DateTime))
INSERT [dbo].[Roles] ([RoleId], [Name], [Description], [CreatedAt]) VALUES (N'3', N'Employee', N'Can view data only', CAST(N'2026-02-10T15:14:47.273' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionId], [ReferenceNumber], [FromAccountId], [ToAccountId], [Amount], [TransactionTypeId], [Status], [CreatedAt]) VALUES (1, N'TXN00001', NULL, 1, CAST(1427.18 AS Decimal(18, 2)), 2, N'Completed', CAST(N'2026-02-10T15:40:16.040' AS DateTime))
INSERT [dbo].[Transactions] ([TransactionId], [ReferenceNumber], [FromAccountId], [ToAccountId], [Amount], [TransactionTypeId], [Status], [CreatedAt]) VALUES (2, N'TXN00002', 2, NULL, CAST(1427.22 AS Decimal(18, 2)), 3, N'Completed', CAST(N'2026-02-10T15:40:16.040' AS DateTime))
INSERT [dbo].[Transactions] ([TransactionId], [ReferenceNumber], [FromAccountId], [ToAccountId], [Amount], [TransactionTypeId], [Status], [CreatedAt]) VALUES (3, N'TXN00003', NULL, 3, CAST(1427.26 AS Decimal(18, 2)), 1, N'Completed', CAST(N'2026-02-10T15:40:16.040' AS DateTime))
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionTypes] ON 

INSERT [dbo].[TransactionTypes] ([TransactionTypeId], [Name]) VALUES (1, N'Deposit')
INSERT [dbo].[TransactionTypes] ([TransactionTypeId], [Name]) VALUES (2, N'Withdraw')
INSERT [dbo].[TransactionTypes] ([TransactionTypeId], [Name]) VALUES (3, N'Transfer')
SET IDENTITY_INSERT [dbo].[TransactionTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__BE2ACD6F6CD66A4B]    Script Date: 3/6/2026 2:40:44 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cards__A4E9FFE9A909E675]    Script Date: 3/6/2026 2:40:44 PM ******/
ALTER TABLE [dbo].[Cards] ADD UNIQUE NONCLUSTERED 
(
	[CardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Transact__C5ADBE4DD41AEDFD]    Script Date: 3/6/2026 2:40:44 PM ******/
ALTER TABLE [dbo].[Transactions] ADD UNIQUE NONCLUSTERED 
(
	[ReferenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [OpenedAt]
GO
ALTER TABLE [dbo].[Branches] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Cards] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF__Roles__CreatedAt__37A5467C]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('Completed') FOR [Status]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsActive__412EB0B6]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedAt__4222D4EF]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([AccountTypeId])
REFERENCES [dbo].[AccountTypes] ([AccountTypeId])
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([BranchId])
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([CurrencyCode])
REFERENCES [dbo].[Currencies] ([CurrencyCode])
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([FromAccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([ToAccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([TransactionTypeId])
REFERENCES [dbo].[TransactionTypes] ([TransactionTypeId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__RoleId__403A8C7D] FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__RoleId__403A8C7D]
GO
/****** Object:  StoredProcedure [dbo].[sp_BlockCard]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BlockCard]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Cards WHERE CardId = @Id)
        RETURN -1;

    IF EXISTS (SELECT 1 FROM Cards WHERE CardId = @Id AND Status = 'Blocked')
        RETURN -2;

    

    UPDATE Cards
    SET Status = 'Blocked'
    WHERE CardId = @Id;

    RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CloseAccount]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CloseAccount]
    @Id INT
   
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Accounts WHERE AccountId = @Id)
    BEGIN
        RETURN -1;
        
    END

    IF EXISTS (SELECT 1 FROM Accounts WHERE AccountId = @Id AND Balance > 0)
    BEGIN
        RETURN -2;
        
    END

    UPDATE Accounts
    SET Status = 'Closed',
        ClosedAt = GETDATE()
    WHERE AccountId = @Id

    RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAccount]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateAccount]
    @CustomerId INT,
    @AccountNumber NVARCHAR(50),
    @AccountTypeId INT,
    @Balance DECIMAL(18,2),
    @CurrencyCode NVARCHAR(10),
    @BranchId INT   
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Customers WHERE CustomerId = @CustomerId)
    BEGIN
        RETURN -1;
        
    END

    IF NOT EXISTS (SELECT 1 FROM Branches WHERE Branches.BranchId = @BranchId)
    BEGIN
        RETURN -2;
        
    END

    IF NOT EXISTS (SELECT 1 FROM AccountTypes WHERE AccountTypeId = @AccountTypeId)
    BEGIN
        RETURN -3;
        
    END

    IF EXISTS (SELECT 1 FROM Accounts WHERE AccountNumber = @AccountNumber)
    BEGIN
       RETURN -4;
        
    END

    IF NOT EXISTS (SELECT 1 FROM Currencies WHERE Currencies.CurrencyCode = @CurrencyCode)
    BEGIN
        RETURN -5;
        
    END

    INSERT INTO Accounts
    (CustomerId, AccountNumber, AccountTypeId, Balance, CurrencyCode, Status, OpenedAt, BranchId)
    VALUES
    (@CustomerId, @AccountNumber, @AccountTypeId, @Balance, @CurrencyCode, 'Active', GETDATE(), @BranchId)

    return SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateBranch]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateBranch]
    @Name NVARCHAR(100),
    @City NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;


    IF EXISTS (SELECT 1 FROM Branches WHERE Name = @Name AND City = @City)
    BEGIN
        RETURN -1;
        
    END

    INSERT INTO Branches (Name, City, IsActive)
    VALUES (@Name, @City, 1)

    return SCOPE_IDENTITY();
END

















GO
/****** Object:  StoredProcedure [dbo].[sp_CreateCard]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateCard]
    @CardNumber NVARCHAR(20),
    @AccountId INT,
    @Type NVARCHAR(20),
    @ExpiryDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM Accounts WHERE AccountId = @AccountId
    )
        RETURN -1;


    IF EXISTS (
        SELECT 1 FROM Accounts 
        WHERE AccountId = @AccountId 
        AND Status <> 'Active'
    )
        RETURN -2; 


    IF EXISTS (
        SELECT 1 FROM Cards WHERE CardNumber = @CardNumber
    )
        RETURN -3; 


   

    IF @ExpiryDate <= GETDATE() 
       OR @ExpiryDate > DATEADD(YEAR, 5, GETDATE())
        RETURN -4; 


    IF @Type = 'Debit'
       AND EXISTS (
            SELECT 1 FROM Cards 
            WHERE AccountId = @AccountId 
              AND Type = 'Debit'
       )
        RETURN -5; 


    IF @Type = 'Credit'
       AND (
            SELECT COUNT(*) 
            FROM Cards 
            WHERE AccountId = @AccountId 
              AND Type = 'Credit'
       ) >= 2
        RETURN -6; 


    INSERT INTO Cards
    (
        CardNumber,
        AccountId,
        Type,
        Status,
        ExpiryDate     
    )
    VALUES
    (
        @CardNumber,
        @AccountId,
        @Type,
        'Active',
        @ExpiryDate
       
    );


    RETURN SCOPE_IDENTITY(); 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateCustomer]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateCustomer]
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @DateOfBirth DATE,
    @Email NVARCHAR(100),
    @Phone NVARCHAR(20),
    @Address NVARCHAR(200),
    @RiskLevel NVARCHAR(50),
    @NewCustomerId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    

    IF EXISTS (SELECT 1 FROM Customers WHERE Email = @Email AND IsActive = 1)
    BEGIN       
        RETURN -1
    END

    INSERT INTO Customers
        (FirstName, LastName, DateOfBirth, Email, Phone, Address, RiskLevel, CreatedAt, IsActive)
    VALUES
        (@FirstName, @LastName, @DateOfBirth, @Email, @Phone, @Address, @RiskLevel, GETDATE(), 1);

    SET @NewCustomerId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTransaction]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateTransaction]
    @FromAccountId INT = NULL,
    @ToAccountId INT = NULL,
    @Amount DECIMAL(18,2),
    @TransactionTypeId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

      

        IF @TransactionTypeId NOT IN (1,2,3)
            RETURN -1; 

        IF @Amount <= 0
            RETURN -2; 

       

        IF @TransactionTypeId IN (2,3) AND @FromAccountId IS NULL
            RETURN -3;

        IF @TransactionTypeId IN (1,3) AND @ToAccountId IS NULL
            RETURN -4;

        IF @TransactionTypeId = 3 AND @FromAccountId = @ToAccountId
            RETURN -5;

        

        IF @FromAccountId IS NOT NULL
        BEGIN
            IF NOT EXISTS (SELECT 1 FROM Accounts WHERE AccountId = @FromAccountId)
                RETURN -6;

            IF EXISTS (SELECT 1 FROM Accounts WHERE AccountId = @FromAccountId AND Status <> 'Active')
                RETURN -7;
        END
		
        IF @ToAccountId IS NOT NULL
        BEGIN
            IF NOT EXISTS (SELECT 1 FROM Accounts WHERE AccountId = @ToAccountId)
                RETURN -8;

            IF EXISTS (SELECT 1 FROM Accounts WHERE AccountId = @ToAccountId AND Status <> 'Active')
                RETURN -9;
        END

       
        

        BEGIN TRANSACTION;

        DECLARE @CurrentBalance DECIMAL(18,2);

        

        IF @TransactionTypeId IN (2,3)
        BEGIN
            SELECT @CurrentBalance = Balance
            FROM Accounts WITH (UPDLOCK, ROWLOCK)
            WHERE AccountId = @FromAccountId;

            IF @CurrentBalance < @Amount
            BEGIN
                ROLLBACK TRANSACTION;
                RETURN -10; 
            END

            UPDATE Accounts
            SET Balance = Balance - @Amount
            WHERE AccountId = @FromAccountId;
        END

       

        IF @TransactionTypeId IN (1,3)
        BEGIN
            UPDATE Accounts
            SET Balance = Balance + @Amount
            WHERE AccountId = @ToAccountId;
        END

        

        DECLARE @ReferenceNumber NVARCHAR(50) =
            'TRX-' +
            FORMAT(GETDATE(),'yyyyMMddHHmmss') + '-' +
            RIGHT(ABS(CHECKSUM(NEWID())),6);

       
        INSERT INTO Transactions
        (
            FromAccountId,
            ToAccountId,
            Amount,
            TransactionTypeId,
            Status,
            CreatedAt,
            ReferenceNumber
        )
        VALUES
        (
            @FromAccountId,
            @ToAccountId,
            @Amount,
            @TransactionTypeId,
            'Completed',
            GETDATE(),
            @ReferenceNumber
        );

        DECLARE @NewId INT = SCOPE_IDENTITY();

        COMMIT TRANSACTION;

        RETURN @NewId;

    END TRY
    BEGIN CATCH

            ROLLBACK TRANSACTION;

        RETURN -99;

    END CATCH
END 
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateUser]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CreateUser]
    @Username NVARCHAR(50),
    @Password NVARCHAR(255),
    @Role nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        

        IF EXISTS (
            SELECT 1 
            FROM Users 
            WHERE Username = @Username AND PasswordHash = @Password
        )
            RETURN -2;

        INSERT INTO Users (Username, PasswordHash, Role, IsActive, CreatedAt)
        VALUES (@Username, @Password, @Role, 1, GETUTCDATE());

        RETURN SCOPE_IDENTITY();

    END TRY
    BEGIN CATCH
        RETURN -1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteBranch]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteBranch]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Id <= 0)
    BEGIN
        RETURN -3;
        
    END

    IF NOT EXISTS (SELECT 1 FROM Branches WHERE BranchId = @Id)
    BEGIN
        RETURN -1;
        
    END

	 IF  EXISTS (SELECT 1 FROM Branches WHERE BranchId = @Id and IsActive=0)
    BEGIN
        RETURN -2;
        
    END

    DELETE FROM Branches WHERE BranchId = @Id

    RETURN 1;
END









GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCustomer]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteCustomer]
    @CustomerId INT
AS
BEGIN
    SET NOCOUNT ON;

   

    IF NOT EXISTS (SELECT 1 FROM Customers WHERE CustomerId = @CustomerId)
    BEGIN
       
        RETURN -1;
    END

    UPDATE Customers
    SET IsActive = 0
    WHERE CustomerId = @CustomerId ;
	  RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteUser]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Users WHERE UserId = @UserId)
            RETURN -2; 
        IF EXISTS (SELECT 1 FROM Users WHERE UserId = @UserId AND IsActive = 0)
            RETURN -3; 
        UPDATE Users
        SET IsActive = 0
        WHERE UserId = @UserId;

        RETURN 1; 

    END TRY
    BEGIN CATCH
        RETURN -1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAccountById]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAccountById]
    @Id INT
AS
BEGIN
    SELECT AccountId,AccountNumber,AccountTypes.Name,Balance,Currencies.Name,Status,OpenedAt,Branches.Name,ClosedAt
    FROM Accounts
	join Customers on Customers.CustomerId=Accounts.CustomerId
		join AccountTypes on AccountTypes.AccountTypeId=Accounts.AccountTypeId
	join Branches on Branches.BranchId=Accounts.BranchId
	join Currencies on Currencies.CurrencyCode=Accounts.CurrencyCode


    WHERE AccountId = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActiveAccounts]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllActiveAccounts]
AS
BEGIN
  SELECT AccountId,AccountNumber,AccountTypes.Name,Balance,Currencies.Name,Status,OpenedAt,Branches.Name,ClosedAt
    FROM Accounts
	join Customers on Customers.CustomerId=Accounts.CustomerId
		join AccountTypes on AccountTypes.AccountTypeId=Accounts.AccountTypeId
	join Branches on Branches.BranchId=Accounts.BranchId
	join Currencies on Currencies.CurrencyCode=Accounts.CurrencyCode
where Accounts.Status='Active'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActiveBranches]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetAllActiveBranches]
AS
BEGIN

    SELECT BranchId,
           Name,
           City 
    FROM Branches
	where Branches.IsActive =1
    ORDER BY City, Name
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActiveCards]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllActiveCards]
AS
BEGIN
    SELECT 
        CardId,
        CardNumber,
        AccountId,
        Type,
        Status,
        ExpiryDate
    FROM Cards
    WHERE Status = 'Active'
      AND ExpiryDate > GETDATE();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActiveCustomers]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllActiveCustomers]
AS
BEGIN

    SELECT * 
    FROM Customers	
    WHERE IsActive = 1
    ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllTransactions]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllTransactions]
AS
BEGIN
    SELECT Transactions.TransactionId,Transactions.Amount,Transactions.CreatedAt,Transactions.FromAccountId,Transactions.ReferenceNumber
	,Transactions.Status,Transactions.ToAccountId,TransactionTypes.Name
    FROM Transactions
	join TransactionTypes on Transactions.TransactionTypeId=TransactionTypes.TransactionTypeId
    ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsers]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_GetAllUsers]
AS
BEGIN

        SELECT 
            UserId,
            Username,
            Roles.Name As Role,
            IsActive,
          Users.CreatedAt
        FROM Users
		left join Roles on Roles.RoleId=Users.RoleId
        ORDER BY Users.CreatedAt DESC;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBranchById]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_GetBranchById]
    @Id INT
AS
BEGIN

    SELECT BranchId,
           Name,
           City,
		   IsActive
    FROM Branches
    WHERE BranchId = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCardById]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCardById]
    @Id INT
AS
BEGIN
    SELECT 
        CardId,
        CardNumber,
        AccountId,
        Type,
        Status,
        ExpiryDate
    FROM Cards
    WHERE CardId = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomerById]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCustomerById]
    @CustomerId INT
AS
BEGIN
    SELECT *
    FROM Customers
    WHERE CustomerId = @CustomerId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTransactionById]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTransactionById]
    @Id INT
AS
BEGIN
    SELECT Transactions.TransactionId,Transactions.Amount,Transactions.CreatedAt,Transactions.FromAccountId,Transactions.ReferenceNumber
	,Transactions.Status,Transactions.ToAccountId,TransactionTypes.Name
    FROM Transactions
	join TransactionTypes on Transactions.TransactionTypeId=TransactionTypes.TransactionTypeId
    WHERE TransactionId = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserById]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_GetUserById]
    @UserId INT
AS
BEGIN
   

        SELECT 
            u.UserId,
            u.Username,
            r.Name AS RoleName,
            u.IsActive,
            u.CreatedAt
        FROM Users u
        LEFT JOIN Roles r ON r.RoleId = u.RoleId
        WHERE u.UserId = @UserId;

  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReverseTransaction]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[sp_ReverseTransaction]
    @Id INT
AS
BEGIN
 SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE 
            @FromAccountId INT,
            @ToAccountId INT,
            @Amount DECIMAL(18,2),
            @TypeId INT,
            @Status NVARCHAR(20);

        IF NOT EXISTS (SELECT 1 FROM Transactions WHERE TransactionId = @Id)
            RETURN -1;

        SELECT 
            @FromAccountId = FromAccountId,
            @ToAccountId = ToAccountId,
            @Amount = Amount,
            @TypeId = TransactionTypeId,
            @Status = Status
        FROM Transactions
        WHERE TransactionId = @Id;

        IF @Status <> 'Completed'
            RETURN -2;

       


        IF @TypeId = 1
        BEGIN
            IF EXISTS (SELECT 1 FROM Accounts WHERE AccountId = @ToAccountId AND Status <> 'Active')
                RETURN -3;

            UPDATE Accounts
            SET Balance = Balance - @Amount
            WHERE AccountId = @ToAccountId;
        END

       IF @TypeId = 2
        BEGIN
            IF EXISTS (SELECT 1 FROM Accounts WHERE AccountId = @FromAccountId AND Status <> 'Active')
                RETURN -4;

            UPDATE Accounts
            SET Balance = Balance + @Amount
            WHERE AccountId = @FromAccountId;
        END

        IF @TypeId = 3
        BEGIN
            IF EXISTS (SELECT 1 FROM Accounts WHERE AccountId = @FromAccountId AND Status <> 'Active')
                RETURN -3;

            IF EXISTS (SELECT 1 FROM Accounts WHERE AccountId = @ToAccountId AND Status <> 'Active')
                RETURN -4;

            UPDATE Accounts
            SET Balance = Balance + @Amount
            WHERE AccountId = @FromAccountId;

            UPDATE Accounts
            SET Balance = Balance - @Amount
            WHERE AccountId = @ToAccountId;
        END

        UPDATE Transactions
        SET Status = 'Reversed'
        WHERE TransactionId = @Id;

        COMMIT TRANSACTION;
        RETURN 1;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        RETURN -99;
    END CATCH
	end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAccount]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateAccount]
    @Id INT,
    @AccountTypeId INT,
    @CurrencyCode NVARCHAR(10),
    @Status NVARCHAR(20),
    @BranchId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Accounts WHERE AccountId = @Id)
    BEGIN
        RETURN -1;
        
    END

    IF NOT EXISTS (SELECT 1 FROM AccountTypes WHERE AccountTypeId = @AccountTypeId)
    BEGIN
         RETURN -2;
        
    END

    IF NOT EXISTS (SELECT 1 FROM Branches WHERE BranchId = @BranchId)
    BEGIN
        RETURN -3;
        
    END
	 IF NOT EXISTS (SELECT 1 FROM Currencies WHERE Currencies.CurrencyCode = @CurrencyCode)
    BEGIN
        RETURN -4;
        
    END
	select *from Accounts
    UPDATE Accounts
    SET AccountTypeId = @AccountTypeId,
        CurrencyCode = @CurrencyCode,
        Status = @Status,
        BranchId = @BranchId
    WHERE AccountId = @Id

   RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBranch]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateBranch]
    @Id INT,
    @Name NVARCHAR(100),
    @City NVARCHAR(100)
    
AS
BEGIN
    SET NOCOUNT ON
        
    

    IF NOT EXISTS (SELECT 1 FROM Branches WHERE BranchId = @Id)
    BEGIN
       RETURN -1;
        
    END

    IF EXISTS (SELECT 1 FROM Branches 
               WHERE Name = @Name 
               AND City = @City 
               AND BranchId <> @Id)
    BEGIN
        RETURN -2;
        
    END

    UPDATE Branches
    SET Name = @Name,
        City = @City
        
    WHERE BranchId = @Id

    RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCard]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCard]
    @Id INT,
    @Type NVARCHAR(20),
    @Status NVARCHAR(20),
    @ExpiryDate DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Cards WHERE CardId = @Id)
        RETURN -1;

    

    IF @ExpiryDate <= GETDATE()
        SET @Status = 'Expired';

    UPDATE Cards
    SET Type = @Type,
        Status = @Status,
        ExpiryDate = @ExpiryDate
    WHERE CardId = @Id;

    RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCustomer]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCustomer]
    @CustomerId INT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @DateOfBirth DATE,
    @Email NVARCHAR(100),
    @Phone NVARCHAR(20),
    @Address NVARCHAR(200),
    @RiskLevel NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

   
    IF NOT EXISTS (SELECT 1 FROM Customers WHERE CustomerId = @CustomerId)
    BEGIN
       
        RETURN -1;
    END

    IF EXISTS (SELECT 1 FROM Customers WHERE Email = @Email AND CustomerId <> @CustomerId AND IsActive = 1)
    BEGIN
       
        RETURN -2;
    END

    UPDATE Customers
    SET
        FirstName = @FirstName,
        LastName = @LastName,
        DateOfBirth = @DateOfBirth,
        Email = @Email,
        Phone = @Phone,
        Address = @Address,
        RiskLevel = @RiskLevel
    WHERE CustomerId = @CustomerId;
	RETURN 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTransactionStatus]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateTransactionStatus]
    @Id INT,
    @Status NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM Transactions WHERE TransactionId = @Id)
            RETURN -1;

        IF @Status NOT IN ('Completed','Reversed')
            RETURN -2;

        IF EXISTS (SELECT 1 FROM Transactions WHERE TransactionId = @Id AND Status = 'Reversed')
            RETURN -3;

        UPDATE Transactions
        SET Status = @Status
        WHERE TransactionId = @Id;

        COMMIT TRANSACTION;
        RETURN 1;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        RETURN -99;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 3/6/2026 2:40:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateUser]
    @UserId INT,
    @Username NVARCHAR(50),
    @Password NVARCHAR(255),
    @RoleId INT,
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Users WHERE UserId = @UserId)
            RETURN -2;

        IF NOT EXISTS (SELECT 1 FROM Roles WHERE RoleId = @RoleId)
            RETURN -3;

        IF EXISTS (
            SELECT 1 
            FROM Users 
            WHERE UserId <> @UserId
              AND Username = @Username
              AND PasswordHash = @Password
        )
            RETURN -4;

        UPDATE Users
        SET Username = @Username,
            PasswordHash = @Password,
            RoleId = @RoleId,
            IsActive = @IsActive
        WHERE UserId = @UserId;

        RETURN 1;

    END TRY
    BEGIN CATCH
        RETURN -1;
    END CATCH
END
GO
USE [master]
GO
